# Database Connection Settings (Supabase Frankfurt Pooler - Port 6543 for Serverless)
DATABASE_URL="postgresql://postgres.vdkzavejabnxbdedlsvy:CZTech786%40%2C@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect via Supabase IPv4 Session Pooler (Port 5432) for Prisma DDL & Migrations
DIRECT_URL="postgresql://postgres.vdkzavejabnxbdedlsvy:CZTech786%40%2C@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Supabase Web Client Credentials
NEXT_PUBLIC_SUPABASE_URL="https://vdkzavejabnxbdedlsvy.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_-D6oAAbzlW4NC5Cj22zSOQ_9FyxTbNC"

# Authentication Security Settings
JWT_SECRET="oh_richi_super_secret_jwt_key_2026_secure"
REFRESH_TOKEN_SECRET="oh_richi_super_secret_refresh_key_2026_secure"
NODE_ENV="production"
